@import url(https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Sniglet&display=swap);

a {
    text-decoration: none;
    color: #000
}

button:focus {
    outline: 0 !important;
    box-shadow: none !important
}

* {
    font-family: Calibri,arial,helvetica,sans-serif;
    /* font-weight: 600!important; */
}

button{
    font-weight: 500!important;

}

.nav-link{
    font-size: 12pt;
}

.bold{
    font-weight: 600!important;
}

p {
    font-size: initial
}

.logo {
    display: flex;
    justify-content: center
}

.ads {
    height: 100%
}

.landig {
    position: absolute;
    top: 0;
    bottom: 0
}

input {
    outline: 0 !important;
    box-shadow: none !important
}

#d-none {
    display: none !important
}

.search-input {
    border-radius: 18px;
    border: none;
    background: #d0e0ef
}

.search-button {
    border-radius: 40px;
    background: #d0e0ef;
    border: none
}

.search-button:hover {
    background-color: #0ec2e6
}

.footer-link {
    margin-right: 16px;
    text-decoration: none;
    font-size: 13px
}

.card {
    margin: .25rem;
    overflow: hidden
}

.last {
    max-width: 100%
}

.row {
    margin: 0;
    padding: 0
}

.content-image {
    height: 195px
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.post-tols {
    display: flex;
    justify-content: space-around
}

.policy p {
    padding: 0
}

.btn-ag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: none
}

.ag-blue {
    background: linear-gradient(180deg, #42a5f5, #2196f3);
    color: #fff
}

.content-image-product {
    height: 260px
}

.each-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px
}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center
}

.search {
    width: 300px;
    margin-top: 0 !important
}

.btn-primary {
    color: #fff;
    background: linear-gradient(#4fb7f0, #29a0e0 60%, #29a0e0 90%, #36a6e2);
    border-color: #3eade9;
}

.nav-border {
    border-color: rgb(13 110 253 / 25%) !important
}

.logo {
    font-family: Sniglet, cursive !important;
    text-decoration: none
}

.navbar {
    box-shadow: none
}

body {
    background-color: #e9ecef73
}

.post-detail-image {
    height: 370px;
    object-fit: cover
}

.dropdown:not(.dropdown-hover) .dropdown-menu {
    margin-top: 0 !important
}

.position-sticky {
    z-index: 100
}

.pointer {
    cursor: pointer
}

a {
    text-decoration: none
}

.avatar-badg{
    top: 5%;
    left: 6%;
}
.cover{
    object-fit: cover!important;
}
.comment-scroll {
    max-height: 300px
}

:root {
    --loading-grey: #ededed
}

.image {
    height: 200px
}

.lang {
    width: 150px
}

.ant-modal-title {
    text-align: center !important
}

.ant-notification-notice-with-icon {
    padding: 0 25px !important
}

.image img {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover
}

.content {
    padding: 2rem 1.8rem
}

h4 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem
}

.description {
    font-size: 1rem;
    line-height: 1.4rem
}

.loading .description,
.loading .image,
.loading h4 {
    background-color: var(--loading-grey);
    background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60%) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite
}

@keyframes loading {
    to {
        background-position-x: -20%
    }
}

.loading h4 {
    min-height: 1.6rem;
    border-radius: 4px;
    animation-delay: .05s
}

.loading .description {
    min-height: 4rem;
    border-radius: 4px;
    animation-delay: .06s
}

.book-detail-image {
    width: 300px
}

@media (max-width:575.98px) {
    .book-detail-image {
        width: 200px
    }
}

@media (max-width:991.98px) {
    .sm-hidden {
        display: none
    }
}

iframe {
    display: none !important;
}